/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 15px;
  /* 1rem = 16px; */
}
:root {
  --main-color: #f55f8d;
  --2nd-color: #f8ae56;
  --3rd-color: #636363;
  --4th-color: #262626;
  --5th-color: #feeff3;
  --grad-color: linear-gradient(
    to right,
    var(--main-color) 0,
    var(--2nd-color) 50%,
    var(--main-color) 100%
  );
}
body {
  /* font */
  font-family: "Roboto", sans-serif;
  color: var(--3rd-color);
  font-weight: 400;
  line-height: 1.6;
}
ul li {
  list-style-type: none;
}
button {
  cursor: pointer;
}
/* start-header */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 0;
}
.header__content {
  max-width: 80%;
  margin: 0 auto;
  /* ---- */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__content ul {
  margin-right: 2rem;
}
.header__content ul li {
  display: inline;
  padding: 3rem 1rem;
}
.header__content ul li a {
  text-decoration: none;
  font-weight: 700;
  color: var(--4th-color);
  transition: all 0.2s;
}
.header__content ul li a:hover {
  color: var(--main-color);
}
.header__content ul li a span {
  display: inline-block;
  transition: all 1s;
}
.header__content ul li a:hover span {
  animation: upToDown 0.3s;
}
.btn-grad {
  margin-top: 1rem;
  padding: 1.2rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  background-image: var(--grad-color);
  background-size: 200%;
  border: 1px solid transparent;
  border-radius: 30px;
  color: white;
  transition: all 0.5s;
}
.btn-grad:hover {
  background-position: right center;
}
header .btn-grad {
  margin-top: 0;
}
/* end-header */
/* star-carou */
.carou {
  padding-top: 8rem;
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%;
  overflow: hidden;
}
.carou__content {
  max-width: 80%;
  margin: 0 auto;
  /* --- */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carou__left {
  width: 60%;
}
.title p {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: var(--main-color);
}
.title h2 {
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 700;
  color: var(--4th-color);
  margin-bottom: 1rem;
}
.article p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: var(--3rd-color);
}
.article li {
  padding: 1rem 0.3rem 1rem 0;
  font-size: 1.2rem;
  color: var(--3rd-color);
}
.carou__article i {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  border-radius: 2rem;
  background-image: var(--grad-color);
  background-size: 200%;
  margin-right: 1rem;
}
.carou__right {
  width: 40%;
}
.service {
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 0;
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  /* --- */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.service__content {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.service__title p {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--main-color);
  text-align: center;
}
.service__title h2 {
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 700;
  color: var(--4th-color);
  margin-bottom: 1rem;
}
.service__content--item {
  text-align: center;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 2rem 3rem;
  transform: translateY(0);
  transition: all 0.5s;
}
.service__content--item:hover {
  transform: translateY(-20px);
}
.service__content--item img {
  width: 70%;
}
.service__content--item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--4th-color);
  margin: 1rem 0;
}
/* end-carou */
/* start-about */
.about {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__content {
  width: 100%;
  /* ---- */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.about__left {
  width: 60%;
  position: absolute;
  left: -15%;
  top: 8rem;
}
.about__left img {
  width: 100%;
  border-radius: 0 8rem 8rem 0;
}
.about__right {
  width: 50%;
}
.about__article p,
.about__article i,
.about__article li {
  font-size: 1rem;
  padding: 0.4rem 0;
}
.about__article i {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: 2rem;
  color: var(--main-color);
  border-color: var(--main-color);
  margin-right: 1rem;
  font-weight: 100;
}
.about__article button {
  margin-top: 1rem;
}
/* end-about */
/* start-stat */
.stat {
  background-image: url(../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 5rem 0;
}
.stat__content {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.stat__item {
  text-align: center;
}
.stat__item p {
  font-size: 4rem;
  font-weight: 700;
  color: var(--main-color);
}
.stat__item p:last-of-type {
  font-size: 1.2rem;
  color: var(--4th-color);
  font-weight: 400;
}
.stat__item i {
  font-size: 3rem;
  background-image: var(--grad-color);
  background-size: 200%;
  color: white;
  width: 5rem;
  aspect-ratio: 1/1;
  line-height: 5rem;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 1rem;
}
/* end-stat */
/* start-feature */
.feature {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature__left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.feature__title {
  text-align: center;
}
.feature__item {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.feature__item--main {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* ---- */
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 1s;
  opacity: 1;
  z-index: 1;
}
.feature__item--main:hover {
  opacity: 0;
}
.feature__item--clone {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* ---- */
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 2rem;
  color: white;
  background-image: var(--grad-color);
  border-radius: 1rem;
  overflow: hidden;
  position: absolute;
  opacity: 1;
  z-index: 0;
}
.feature__item--end {
  margin: 0 5rem;
  justify-self: flex-end;
  align-self: flex-end;
}
.feature__item i {
  font-size: 4rem;
  margin: 0 1rem;
  color: var(--main-color);
}
.feature__item h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--4th-color);
}
.feature__item--clone i,
.feature__item--clone h3 {
  color: white;
}
.feature__right {
  width: 40%;
}
.feature__right img {
  max-width: 120%;
  animation: rotate 3s linear infinite;
}
/* end-feature */
/* start-gal */
.gallery {
  width: 80%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.gal__title p {
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--main-color);
}
.gal__title h2 {
  width: 100%;
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 700;
  color: var(--4th-color);
  margin-bottom: 1rem;
}
.gal__content {
  width: 100%;
  aspect-ratio: 1/0.8;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 2rem;
}
.gal__item {
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
}
.gal__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
  z-index: 2;
}
.gal__item:hover::before {
  left: 150%;
}
.gal__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(100%);
  transition: all 0.75s;
  z-index: 0;
}
.gal__item:hover .gal__img {
  filter: brightness(50%);
}
.gal_item1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.gal_item2 {
  grid-column: 3/4;
  grid-row: 1/3;
}
.gal_item3 {
  grid-column: 1/3;
}
.gal_item4 {
  grid-column: 3/4;
  grid-row: 3/5;
}
.item__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  opacity: 0;
  z-index: 2;
  transform: translateY(2rem);
  transition: all 0.4s;
}
.gal__item:hover .item__overlay {
  opacity: 1;
  transform: translateY(0rem);
}
.overlay--plus {
  background-image: var(--grad-color);
  background-size: 200%;
  width: 4rem;
  height: 4rem;
  line-height: 4.2rem;
  text-align: center;
  font-size: 3rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  border-radius: 1rem;
  color: white;
}
.overlay--plus i {
  color: white;
}
.overlay--title {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}
.overlay--title h3 {
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
}
.overlay--title p {
  color: white;
  opacity: 0.7;
}
/* end-gal */
/* start-plan */
.plan {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* ---- */
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.plan__title p {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: var(--main-color);
  text-align: center;
}
.plan__title h2 {
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 700;
  color: var(--4th-color);
  margin-bottom: 1rem;
}
.plan__content {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.plan__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  /* ---- */
  padding: 1rem 2rem;
  border: 3px solid transparent;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 1px 0 50px rgb(0, 0, 0, 0.1);
  border-image: 100 round;
  transition: all 0.5s;
}
.plan__item:hover {
  border-image: url(../img/br.png) 1 round;
}
.plan__item img {
  width: 70%;
}
.plan__item p {
  font-size: 1.1rem;
  color: var(--4th-color);
  font-weight: 700;
}
.plan__item span {
  color: var(--2nd-color);
  font-size: 3rem;
  font-weight: 700;
}
.plan__item ul {
  width: 100%;
  justify-self: flex-start;
  text-align: left;
  padding-top: 1rem;
  border-top: 1px solid lightgray;
}
.plan__item ul li {
  margin: 1rem 0;
  color: var(--3rd-color);
  font-size: 1.2rem;
}
.plan__item i {
  font-size: 1rem;
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  text-align: center;
  background-color: var(--5th-color);
  color: var(--main-color);
  border-radius: 100%;
  margin-right: 1rem;
}
/* end-plan */
/* start-feedback */
.feedback {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.feedback__content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.feedback__thumb {
  width: 40%;
}
.thumb__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.thumb__subitem {
  padding-top: 2.5rem;
}
.thumb__mainitem {
  padding: 0 0 5rem;
}
.feedback__thumb .thumb__item img {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  padding: 5px;
  z-index: 2;
  background-color: var(--main-color);
  position: relative;
}

.thumb__item .shape-1 {
  position: absolute;
  width: 49px;
  height: 33px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  opacity: 1;
  transition: all 1s;
  background-color: var(--main-color);
  background-image: url(../img/pattern12.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.thumb__item .shape-2 {
  position: absolute;
  height: 1rem;
  width: 1rem;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  bottom: 25px;
  opacity: 1;
  transition: all 1s;
  background-color: var(--main-color);
  z-index: 1;
  margin: 0.5rem 0;
}
.thumb__item .shape-3 {
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  bottom: 0;
  opacity: 1;
  transition: all 1s;
  background-color: var(--main-color);
  z-index: 1;
  margin: 0.5rem 0;
}
.feedback__comment {
  width: 100%;
  z-index: 4;
  display: flex;
  display: block;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  display: none;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: var(--main-color);
}
.owl-theme .owl-dots .owl-dot span {
  margin: 0 -4px;
}
.comment__item {
  margin: 2rem auto;
  width: 90%;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
  border-radius: 1rem;
  background-color: white;
  position: relative;
}
.icon__qoute {
  position: absolute;
  top: 1rem;
  left: 2rem;
  width: 4rem;
  height: 4rem;
}
.icon__qoute i {
  font-size: 4rem;
  color: var(--main-color);
}
.comment__item p {
  font-size: 1.3rem;
  font-weight: 400;
  font-style: italic;
  padding: 0 0 1rem 0;
}
.comment__item span {
  color: var(--main-color);
}
.feedback__title p,
.feedback__title h2 {
  text-align: center;
}
/* end-feedback */
/* start-blog */
.blog {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.blog__title p,
.blog__title h2 {
  text-align: center;
}
.blog__content {
  width: 80%;
}
.blog__item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 1rem;
}
.blog__item--header {
  position: relative;
}
.blog__item--header img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.blog__item--header p {
  display: inline-block;
  background-image: var(--grad-color);
  background-size: 200%;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: white;
  bottom: -1.3rem;
  left: 1rem;
  position: absolute;
}
.blog__item--body {
  padding: 2rem 1rem;
}
.blog__item--body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--4th-color);
}
.blog__item--footer {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog__item--footer i {
  font-size: 1.5rem;
  color: var(--main-color);
  vertical-align: sub;
}
.blog__item--footer p:first-of-type span {
  color: var(--main-color);
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  font-size: 3rem;
  padding: 0 1rem !important;
}
/* end-blog */
/* start-footer */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../img/bg4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(15, 15, 15);
  background-size: contain;
  color: white;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.footer__content {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__top {
  width: 100%;
  padding: 3rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}
.footer__top--text {
  width: 20%;
}
.footer__top--text h2 {
  font-size: 2rem;
  color: var(--4th-color);
}
.footer__top--form {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer__top--form input {
  width: 400px;
  padding: 1.2rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--3rd-color);
  background: white;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid white;
  outline: 0;
  transition: all 0.5s;
}
.footer__top--form button {
  margin-left: -3px;
  padding: 1.2rem 2rem;
  font-size: 1rem;
  background-image: var(--grad-color);
  background-size: 200%;
  border-color: transparent;
  border-radius: 0 0.5rem 0.5rem 0;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
.footer__top--form button:hover {
  background-position: right center;
}
.footer__top--form i {
  font-size: 1.6rem;
}
.footer__body {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  z-index: 2;
}
.footer__item {
  width: 25%;
  z-index: 2;
}
footer a {
  text-decoration: none;
  color: var(--3rd-color);
}
.footer__item li {
  margin: 1rem 0;
  font-size: 1.1rem;
}
.footer__item h3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: relative;
  color: white;
}
.footer__contact i {
  font-size: 1.3rem;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  margin-right: 1rem;
  text-align: center;
  background: var(--grad-color);
  border-radius: 3rem;
}
.footer__copyright {
  width: 100%;
  height: 5rem;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--4th-color);
  z-index: 2;
}
.footer__copyright i {
  font-size: 1.5rem;
}
.footer__copyright--right a {
  height: 2.5rem;
  width: 2.5rem;
  line-height: 3rem;
  text-align: center;
  display: inline-block;
  border-radius: 3rem;
  font-size: 1rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
.footer__copyright--right a:hover {
  background-color: var(--main-color);
  cursor: pointer;
}
.footer__copyright span {
  color: var(--main-color);
}
.backToTop {
  width: 3rem;
  height: 3rem;
  background: var(--main-color);
  border-radius: 0.5rem;
  line-height: 3.2rem;
  text-align: center;
  display: block;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  color: white;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px var(--main-color);
  transition: all 0.3s;
  z-index: 5;
}
.backToTop:hover {
  color: var(--main-color);
  background: var(--3rd-color);
}
.backToTop i {
  font-size: 1.2rem;
  font-weight: 700;
}
/* back-to-top-btn */
#myBtn {
  display: none;
  position: fixed;
  bottom: 0.8rem;
  right: 1rem;
  z-index: 10;
  border: none;
  outline: none;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.5s;
}
#myBtn i {
  font-size: 1.3rem;
}
#myBtn:hover {
  color: var(--main-color);
  background-color: var(--3rd-color);
}
/* end-footer */
/* ANIMATION */
@keyframes rotate {
  0% {
    transform: rotate(4deg) translate(4px, 4px);
  }

  50% {
    transform: rotate(-4deg) translate(-4px, -4px);
  }

  100% {
    transform: rotate(4deg) translate(4px, 4px);
  }
}
@keyframes upToDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
